<h1>New Question</h1>

<%= form_for :question, url: questions_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, minlength: 40 %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body, minlength: 150 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
